* {
    font-family:'Work Sans';
}

.wrap-container {
    text-align:center;
}
.wrap {
    max-width:60em;
    width:80%;
    text-align:left;
    display:inline-block;
}

a {
    display:inline-block;
    float:left;
}
a:hover {
    text-decoration:none;
    color:inherit;
}

.animate-3 {
    -webkit-transition:     0.3s ease;
    -moz-transition:        0.3s ease;
    transition:             0.3s ease;
}

.animate-5 {
    -webkit-transition:     0.5s ease;
    -moz-transition:        0.5s ease;
    transition:             0.5s ease;
}

.button {
    color:#f90;
    border:2px solid #f90;
    padding:1.15em 3em;
    font-size:1.15em;
}
    .button:hover {
        background-color:#f90;
        color:#FFF;
    }

@import 'header';
@import 'footer';
@import 'responsive';
@import 'modules/landing';
@import 'modules/text_with_title';